.Community {
  color: #fff;
}


body {
  padding-left: 10%;
  padding-right: 10%;
  background-color: #070617;
}

.cm-title {
  height: 70px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.cm-title h1 {
  color: #fff;
  position: absolute;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 6px;
}

.hr-box {
  margin-bottom: 20px;
}

.hr-box hr {
  width: 100%;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #fff;
  border-image: initial;
}

.cm-box-write {
  width: 100%;
  margin-bottom: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.post-wr-box {
  margin-top: 20px;
}

.post-title-input {
  box-sizing: border-box;
  height: 60px;
  width: 900px;
  margin-bottom: 15px;
  padding: 15px 25px;
  font-size: 16px;
  color: #ccc;
  border-radius: 6px;
  border: solid 1px #ccc;
  background-color: rgba(69, 83, 104, 0.60);
}

.post-user {
  box-sizing: border-box;
  height: 55px;
  width: 900px;
  margin-bottom: 15px;
  padding: 15px 25px;
  font-size: 16px;
  color: #ccc;
  border-radius: 6px;
  border: solid 1px #ccc;
  background-color: rgba(69, 83, 104, 0.60);
}

.post-content-box {
  width: 900px;
  min-height: 400px;
  border-radius: 6px;
  background-color: rgba(69, 83, 104, 0.60);
  border: 1px solid #ccc;
}

.post-content {
  box-sizing: border-box;
  padding: 15px 25px;
  width: 100%;
}

.post-info-txt {
  outline: none;
  width: 100%;
  resize: none;
  border: none;
  font-size: 16px;
  color: #ccc;
  min-height: 300px;
  background-color: transparent;
  overflow: hidden;
}


.post-upload {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

.upload-btn {
  width: 170px;
  height: 50px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 6px;
  background: #D6EF0E;
  border: 1px solid #fff;
  color: #fff;
}

.upload-btn:hover {
  background-color: #000;
  border : 1px solid #fff;
  transition: background 0.3s ease-in-out;
}